// out: false

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;

	.floating-button {
		background-color: #F44336;
    color: #fff;
    /* padding: 12px; */
    width: 48px;
    height: 48px;
    position: fixed;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    right: 12px;
		bottom: 68px;
		box-shadow: 0px 1px 4px 1px rgba(130, 46, 40, 0.36);
		cursor: pointer;

		i {
			color: #fff;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}